<p>Click on the link to see more info on specific wine</p>

<div class="card-deck">
    <% @wines.each do |wine| %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= wine.maker %></h5>
      <p class="card-text"><%= wine.wine_type %></p>
      <p class="card-text"><small class="text-muted"></small><%= wine.vintage %></p>
      <%= link_to wine.maker, wine_path(wine) %>
    </div>
  </div>
      <% end %>
  </div>

  <%= link_to 'Add a New Wine', new_wine_path%><br><br>

<%= link_to 'Sign Out', signout_path, method: :delete %>
