<div class="mywine">
  <h1>My Wines</h1>
  <p>Click on the link to see more info on specific wine</p>
  <%= link_to 'Add a New Wine', new_wine_path%><br><br>
</div>
<div class="album">
  <div class="container">
    <div class="row">
      <% @wines.each do |wine| %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= wine.maker %></h5>
          <p class="card-text"><%= wine.wine_type %></p>
          <p class="card-text"><small class="text-muted"></small><%= wine.vintage %></p>
          <%= link_to "See More", wine_path(wine), :class => 'btn btn-primary' %>
        </div>
      </div>
        <% end %>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= will_paginate @wine, renderer: BootstrapPagination::Rails, previous_label: "Previous", next_label: "Next",
        inner_window: 1, outer_window: 0 %>
      </div>
    </div>
  </div>
</div>



<%= link_to 'Sign Out', signout_path, method: :delete %>
