
<h1>Add Wine</h1>

<p>Add A new Wine form here</p>

<div>
  <%= form_for(@wine) do |f| %>
  <%= f.label :maker %>
  <%= f.text_field :maker %><br>
  <%= f.label :wine_type %>
  <%= f.text_field :wine_type %><br>
  <%= f.label :region %>
  <%= f.text_field :region %><br>
  <%= f.label :vintage %>
  <%= f.text_field :vintage %><br>
  <%= f.label :price %>
  <%= f.text_field :price %><br>
  <%= f.label :rating %>
  <%= f.select :rating, (1..5) %><br>

<%=f.submit %>
<% end %>

</div>
