<h2>Wines Profile</h2>

  <div class="wineprofile">
    <p>Maker: <%= @wine.maker %></p>
    <p>Type: <%= @wine.wine_type %></p>
    <p>Vintage: <%= @wine.vintage %></p>
    <p>Price: <%= @wine.price %></p>
    <p>Rating: <%= @wine.rating %></p>
    <p>ID: <%= @wine.id %></p>
  </div>


<h2>Comments</h2>
