<!DOCTYPE html>
<html>
  <head>
    <title>The Grapevine</title>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <main role="main" class="container"
        <%= yield %>
    </main><!-- /.container -->
    <%= render 'layouts/footer' %>
  </body>
</html>
